<article class="clear-both audio-player {{if item.isPlaying 'is-playing'}}">
  <div class='btn-group pull-left'>
    <a href='#' {{action 'playPrevious'}} class='btn play-previous'>
        <span class="glyphicon glyphicon-backward"></span>
    </a>
    <a href='#' class='btn play' {{action 'togglePlay'}}>
      <span class="glyphicon {{if item.isPlaying 'glyphicon-pause' 'glyphicon-play'}}"></span>
    </a>
    <a href='#' {{action 'playNext'}} class='btn play-next'>
        <span class="glyphicon glyphicon-forward"></span>
    </a>

    {{#link-to 'uploads' item.artist item.id class='btn info' bubbles=false}}
      <span class="glyphicon glyphicon-info-sign"></span>
    {{/link-to}}
  </div>
  <div class='media-body'>
    <h4 class='media-heading'>{{link-to item.name 'uploads' item.artist item.id bubbles=false}}</h4>
      {{#link-to 'users' item.artistLogin class='user' bubbles=false}}<span class='light-color'>{{item.artist}}</span>{{/link-to}}
    {{#if item.isPlaying}}
      {{playback-scrubber media=item.media classNames="pull-left" bubbles=false}}
    {{/if}}
    <div class='clearfix'></div>
  </div>
  <div class='clearfix'></div>
</article>

