<article class="upload {{if item.isPlaying 'is-playing' ''}}">
  <div class='btn-group pull-left'>
    <a href='#' {{action 'playPrevious'}} class='btn play-previous'>
        <span class="glyphicon glyphicon-backward"></span>
    </a>
    <a href='#' class='btn play' {{action 'togglePlay'}}>
      <span class="glyphicon {{if item.isPlaying 'glyphicon-pause' 'glyphicon-play'}}"></span>
    </a>
    <a href='#' {{action 'playNext'}} class='btn play-next'>
        <span class="glyphicon glyphicon-forward"></span>
    </a>

    {{#link-to 'file' item.uploader item.id class='btn info' bubbles=false}}
      <span class="glyphicon glyphicon-info-sign"></span>
    {{/link-to}}
  </div>
  <div class='media-body'>
    <h4 class='media-heading'>{{link-to item.title 'file' item.uploader item.id bubbles=false}}</h4>
    <div class='attribution'>
      by {{#link-to 'user' item.uploader class='user' bubbles=false}}{{item.uploader}}{{/link-to}}
    </div>
    {{#if item.isPlaying}}
      {{playback-scrubber media=item.media classNames="pull-left" bubbles=false}}
    {{/if}}
    <div class='clearfix'></div>
  </div>
  <div class='clearfix'></div>
</article>

