<script>$('body').addClass('pad-for-footer');</script>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <article class="clear-both audio-player {{if media.isPlaying 'is-playing'}}">
      <div class='btn-group pull-left'>
        <a href='#' {{action 'playPrevious'}} class='btn play-previous'>
            <span class="glyphicon glyphicon-backward"></span>
        </a>
        <a href='#' class='btn play' {{action 'togglePlay'}}>
          <span class="glyphicon {{if media.isPlaying 'glyphicon-pause' 'glyphicon-play'}}"></span>
        </a>
        <a href='#' {{action 'playNext'}} class='btn play-next'>
            <span class="glyphicon glyphicon-forward"></span>
        </a>
      </div>
      <div class='media-body'>
          <h4 class='media-heading'>{{link-to media.title 'uploads' media.artist media.id bubbles=false}}</h4>
          {{#link-to 'users' media.track.artistLogin class='user' bubbles=false}}<span class='light-color'>{{media.artist}}</span>{{/link-to}}
             {{playback-scrubber media=media bubbles=false}}
          <div class='clearfix'></div>
      </div>
      <div class='clearfix'></div>
    </article>
  </div>
</nav>

