{{yield}}
  <a data-toggle="modal" href="#downloadPopup" id="downloadPopupTriggerLink" class=""></a>
  <div class="modal fade" id="downloadPopup" tabindex="-1" role="dialog" aria-labelledby="downloadPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><span>{{t 'dlPopup.download'}}</span> {{upload.name}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <p>{{{t 'dlPopup.toUseThisMusic'}}}</p>
                    <div>
                        <ul class="nav nav-tabs">
                        <li role="presentation" class="{{if plainSelected 'active'}}"><a href="#" {{action 'selectFormat' 'plain'}}>{{t 'dlPopup.plainText'}}</a></li>
                        <li role="presentation" class="{{unless plainSelected 'active'}}"><a href="#" {{action 'selectFormat' 'html'}}>{{t 'dlPopup.HTML'}}</a></li>
                        </ul>
                        <textarea id="attributionText" readonly="1" cols="30" rows="2">{{#if plainSelected}}{{t 'dlPopup.licenseTextPlain' songTitle=upload.name artistName=upload.artist year=upload.licenseYear licenseName=upload.license_name filePageUrl=upload.file_page_url}}{{else}}{{{t 'dlPopup.licenseTextHTML' songTitle=upload.name artistName=upload.artist year=upload.licenseYear licenseName=upload.license_name filePageUrl=upload.file_page_url licenseUrl=upload.licenseUrl}}}{{/if}}{{#if upload.featuring}} {{#if plainSelected}}{{t 'dlPopup.featuring' ft=upload.featuring}}{{else}}{{{t 'dlPopup.featuringHTML' ft=upload.featuring}}}{{/if}}{{/if}}</textarea>
                        <button class="btn btn-sm" {{action 'copyToClip'}}>{{t 'dlPopup.copyToClip'}}</button>
                    </div>
                </div>
                                
            <div class="col-md-6 col-md-offset-1">
                    <a class="exp-button download-button" href="{{upload.streamUrl}}" download>
                        <span class="cloud-sprite"> </span>{{t 'dlPopup.downloadButtonText'}}</a>
                    <span class="download-size pull-right light-color">{{downloadSize}}</span>
                    <a href="{{upload.licenseUrl}}"><img class="download-license" src="{{upload.licenseLogoUrl}}" /></a>
                    <button type="button" class="dig-glyph-button" {{action "doLicensePopup"}}>
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                     </button>
                    <div class="download-text license-info">
                        {{#if upload.isOpen}} 
                            {{t 'dlPopup.freeToUse'}}
                        {{else}}
                            {{t 'dlPopup.forNonComm'}}
                        {{/if}}
                    </div>
                    {{#if upload.isCCPlus}}
                        <div class="ccplus">
                        <a href="{{upload.purchaseLicenseUrl}}" class="exp-button utility-button">{{t 'dlPopup.buyALicense1'}}</a>
                        {{t 'dlPopup.buyALicense2'}}
                        </div>
                    {{/if}}
                </div>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" id="downloadPopupClose" class="btn btn-default" data-dismiss="modal">{{t 'dlPopup.close'}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

