{{yield}}
<ul class={{classSelector}}>
    {{#each menu as |item|}}
        {{#if item.tags}}
        <li>{{#link-to 'query' (query-params tags=item.tags)}}{{item.name}}{{/link-to}}</li>
        {{else}}
            {{#if item.hash}}
                <li><a href="{{item.hash}}">{{item.name}}</a></li>
                {{else}}
                    {{#if item.url}}
                        <li><a href="{{item.url}}">{{item.name}}</a></li>
                    {{/if}}
            {{/if}}
        {{/if}}                
    {{/each}}
</ul>