{{yield}}
<ul class={{classSelector}}>
    {{#each menu as |item|}}
        {{#if item.url}}
            <li><a href="{{item.url}}">{{item.name}}</a></li>
        {{else}}
            <li>{{#link-to 'query' (query-params lic=item.lic tags=item.tags title=item.title)}}{{item.name}}{{/link-to}}</li>
        {{/if}}
    {{/each}}
</ul>