<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href><img src="dig-images/logo.png" title="{{app_title}}" /></a>
    </div>
        {{link-menu menu=menu classSelector="nav navbar-nav"}}
        <div class="dig-search">
            {{input type="text" 
                      class="dig-search-input" 
                      value=queryOptions.searchText
                      size="30" 
                      placeholder=searchPlaceHolder}}
             <button type="button" class="dig-search-button" {{action "search"}}>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
             </button>
           <button class="btn btn-primary" {{action 'toggleOptions'}}>Options 
                {{#if optionsOpen}}
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                {{else}}
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                {{/if}}
            </button>
        </div>
   </div>
  {{#if optionsOpen}}
    <div class="container-fluid">
        <div class="dig-search-options">
            <ul class="nav navbar-nav">
            <li>
                {{at-select content=licenses 
                            selection=queryOptions.licenseScheme 
                            action=(action (mut queryOptions.licenseScheme))}}
                <button type="button" class="dig-license-help-button" {{action "search"}}>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                 </button>
            </li>
            <li>
                <label for="instrumentalOnly">{{instrumentalOnlyText}}</label> 
                {{input type="checkbox" 
                        id="instrumentalOnly" 
                        checked=queryOptions.instrumentalOnly 
                        name="instrumentalOnly"}} 
            </li>
            <li>
                <label>{{limitLabelText}}</label> 
                {{at-select content=limits 
                            selection=queryOptions.limit 
                            action=(action (mut queryOptions.limit))}}
            </li>
            <li>
                {{at-select content=genres 
                            selection=queryOptions.genre 
                            action=(action (mut queryOptions.genre))}}
            </li>
            <li>
                <label for="recent">{{recentText}}</label> 
                {{input type="checkbox" 
                        id="recent" 
                        checked=queryOptions.recent 
                        name="recent"}} 
            </li>
             </ul>
        </div>
    </div>
   {{/if}}
</nav>

{{outlet}}