<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="dig-images/logo.png" title="{{app_title}}" /></a>
    </div>
    <ul class="nav navbar-nav menu">
        {{#each menu as |menuItem|}}
            <li>
            {{#if menuItem.url}}
                <a href="{{menuItem.url}}">{{t menuItem.name}}</a>
            {{else if menuItem.linkto }}
                {{link-to (t menuItem.name) menuItem.linkto title=(t menuItem.title)}}
            {{else}}
                {{#link-to 'query' (query-params lic=menuItem.lic tags=menuItem.tags title=menuItem.title) title=(t menuItem.title)}}{{t menuItem.name}}{{/link-to}}
            {{/if}}
            </li>
        {{/each}}
    </ul>
    <div class="navbar-search pull-right">
                {{input type="text" 
                          class="dig-search-input" 
                          value=searchCollector
                          enter="search"
                          size="20" 
                          placeholder=(t 'navbar.searchPlaceHolder')}}
                 <a class="light-on-hover" href='#' {{action "search"}}>
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 </a>

            <a class="light-on-hover" {{action 'toggleOptions'}}>{{t 'navbar.options'}} 
                <span class="glyphicon glyphicon-chevron-{{if optionsOpen 'down' 'up'}}" aria-hidden="true"></span>
            </a>
    </div>
  </div>
</nav>
{{#if optionsOpen}}
    <ul class="nav navbar-nav query-options">
        <li>
                {{at-select content=licenses 
                            selection=queryOptions.licenseScheme 
                            action=(action (mut queryOptions.licenseScheme))}}
                <button type="button" class="dig-glyph-button light-on-hover" {{action "doLicensePopup"}}>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                 </button>
        </li>
        <li>
                <label class="light-on-hover" for="instrumentalOnly">{{t 'queryOptions.instrumental'}}</label> 
                {{input type="checkbox" 
                        id="instrumentalOnly" 
                        checked=queryOptions.instrumentalOnly 
                        name="instrumentalOnly"}} 
        </li>
        <li class="light-on-hover">
                <span>{{t 'queryOptions.limit'}} </span>
                {{at-select content=limits 
                            selection=queryOptions.limit 
                            action=(action (mut queryOptions.limit))}}
        </li>
        <li>
                {{at-select content=genres 
                            selection=queryOptions.genre 
                            action=(action (mut queryOptions.genre))}}
        </li>
        <li>
                <label class="light-on-hover" for="recent">{{t 'queryOptions.recent'}}</label> 
                {{input type="checkbox" 
                        id="recent" 
                        checked=queryOptions.recent 
                        name="recent"}} 
        </li>
    </ul>
{{/if}}
{{license-popup licenseInfo=licenseInfo}}
{{outlet}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {{link-to 'About our Licenses' 'licenses'}}
        </div>
    </div>
</div>

{{audio-player}}