<div class="content">
    <div class="row">
        <div class="col-md-4 centered license-images">
            <a href="{{licenseInfo.byUrl}}" ><img src="{{licenseInfo.byLogoUrl}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.byUrl}}" >{{licenseInfo.linkToLic}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.byDesc}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 centered license-images">
            <a href="{{licenseInfo.byncUrl}}" ><img src="{{licenseInfo.byncLogoUrl}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.byncUrl}}" >{{licenseInfo.linkToLic}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.byncDesc}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 centered license-images">
            <a href="{{licenseInfo.ccplusUrl}}" ><img src="{{licenseInfo.ccplusLogoUrl}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.ccplusUrl}}" >{{licenseInfo.example}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.ccplusDesc}}
            </div>
        </div>
    </div>
</div>