
{{download-popup upload=uploadForDownloadPopup}}    
<h2 class="playlist-title centered">{{title}}</h2>
<div class="container play-list">
    <div class="row">
        <div class="col-md-6 col-md-offset=3 col-md-sm-12">
            <ul>
                {{#each model.playlist as |item|}}
                    <li class="clearfix">
                        <a href="#" class="action pull-left" {{action "togglePlay" item}}>
                            <span class="sprite3 play-sprite {{if item.isPlaying 'is-playing'}}"> </span>
                        </a>
                        <a href="#" class="action pull-left" {{action "doDownloadPopup" item}}>
                             <span class="sprite3 download-sprite"> </span>
                        </a>
                        <span class="song-title">{{#link-to 'uploads' item.artistLogin item.id}}{{item.name}}{{/link-to}}</span> 
                        {{#unless skipUserListing}}
                            <span class="artist-name light-color">{{#link-to 'users' item.artistLogin}}{{item.artist}}{{/link-to}}</span>
                        {{/unless}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination">
            {{#if showPrev}}
                <li>{{link-to (t 'pagination.prev') (query-params offset=prevValue)}}</li>
            {{/if}}
            {{#if showNext}}
                <li>{{link-to (t 'pagination.next') (query-params offset=nextValue)}}</li>
            {{/if}}            
            </ul>
            <p>Showing {{model.playlist.length}} of {{model.total}}</p>
        </div>
    </div>

</div>