
{{download-popup upload=uploadForDownloadPopup}}    
<h2 class="playlist-title centered">{{title}}</h2>
{{#if loading}}<h4>Playlist {{t 'playlist.loading'}} <i class="fa fa-spinner fa-pulse"></i></h4>{{/if}}

<div class="container play-list">
    <div class="row">
        <div class="col-md-9 col-md-offset-2 col-md-sm-12">
            <ul>
                {{#each model.playlist as |upload|}}
                    <li class="clearfix">
                        <a href="#" class="action pull-left" {{action "togglePlay" upload}}>
                            <span class="sprite3 play-sprite {{if upload.media.isPlaying 'is-playing'}}"> </span>
                        </a>
                        <a href="#" class="action pull-left" {{action "doDownloadPopup" upload}}>
                             <span class="sprite3 download-sprite"> </span>
                        </a>
                        <span class="song-title">{{#link-to 'uploads' upload.artistLogin upload.id}}{{upload.name}}{{/link-to}}</span> 
                        {{#unless skipUserListing}}
                            <span class="artist-name light-color">{{#link-to 'users' upload.artistLogin}}{{upload.artist}}{{/link-to}}</span>
                        {{/unless}}
                    </li>
                {{else}}
                    <li><div class="mid-screen-announce">{{t 'playlist.noMatches'}}</div></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination">
            {{#if showPrev}}
                <li>{{link-to (t 'pagination.prev') (query-params offset=prevValue)}}</li>
            {{/if}}
            {{#if showNext}}
                <li>{{link-to (t 'pagination.next') (query-params offset=nextValue)}}</li>
            {{/if}}            
            </ul>
            <div class="text">Showing {{model.playlist.length}} of {{commaize model.total}}</div>
        </div>
    </div>

</div>