    <div class="paging">
        Showing {{model.playlist.length}} of {{model.total}} 
  {{#if showPrev}}
    {{link-to '← Previous' (query-params offset=prevValue)}}
  {{/if}}
  {{#if showNext}}
    {{link-to 'Next →' (query-params offset=nextValue)}}
  {{/if}}            
    </div>
<div class="playlist clear-both">
<ul>
    {{#each model.playlist as |item|}}
        <li class="playlist-line clear-both">
            <span class="sprite3 play-sprite"> </span>
            <span class="sprite3 download-sprite"> </span>
            <span class="song-title">{{#link-to 'uploads' item.upload_id}}{{item.upload_name}}{{/link-to}}</span> 
            {{#unless skipUserListing}}
                <span class="artist-name">{{#link-to 'users' item.user_name}}{{item.user_real_name}}{{/link-to}}</span>
            {{/unless}}
        </li>
    {{/each}}
</ul>
</div>