{{download-popup upload=model}}    
{{trackback-popup upload=model trackback=poolItemForTrackbackPopup}}
{{trackback-form upload=model}}    
{{share-popup upload=model}}    
<div class="container">
    <h2 class="centered">{{model.name}}</h2>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 hidden-sm hidden-xs">
            {{partial 'upload-action'}}
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <p>{{link-to model.artist 'users' model.artistLogin}}</p>
                    {{#if model.featuring}}
                        <span class="light-color">{{t 'upload.featuring'}}</span> {{model.featuring}}
                    {{/if}}
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="{{model.license_url}}"><img class="download-license" src="{{model.licenseLogoUrl}}" /></a>                <button type="button" class="dig-glyph-button" {{action "doLicensePopup"}}>
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                     </button>
                    <br />
                    {{link-to (t 'upload.moreBy' artist=model.artist) 'users' model.artistLogin class="btn btn-default"}} <br />
                    {{link-to (t 'upload.moreLikeThis') 'morelike' model.id  class="btn btn-default"}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {{#each model.userTags as |tag|}}             
                        <button type="button" class="exp-button tag-button light-on-hover" {{action "search" tag}}>{{tag}}</button>
                    {{/each}}
                </div>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-12">
            <h3>
                {{t 'upload.trackbacks'}}
                <a href="#" {{action 'doTrackbackForm'}} class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> {{t 'upload.addTrackback'}}</a>
            </h3>
            <ul class="list-group remix-list">
            {{#each model.trackbacks as |tb|}}
                <li class="list-group-item">{{#if (is-embeddable tb.embed)}}
                        <a href="#" class="video-button" {{action 'doTrackbackPopup' tb}}>
                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                            {{tb.name}}
                        </a>
                    {{else}}
                        <strong>{{tb.type}}</strong>
                        <a href="{{tb.url}}">{{tb.name}}</a> 
                    {{/if}}
                    <span class="light-color">{{tb.artist}}</span></li>
            {{else}}
                <li><span class="light-color">{{t 'upload.noTrackbacks'}}</span></li>
            {{/each}}
            </ul>
        </div>
        <div class="col-md-5  col-sm-12">
            <h3>{{t 'upload.remixes'}}</h3>
            <ul class="list-group remix-list">
            {{#each model.remixes as |remix|}}
                <li class="list-group-item"><a href="{{remix.url}}">{{remix.name}}</a> <span class="light-color">{{remix.artist}}</span></li>
            {{else}}
                <li><span class="light-color">{{t 'upload.noRemixes'}}</span></li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>
