{{download-popup upload=model}}    
{{trackback-popup upload=model trackback=poolItemForTrackbackPopup}}
{{trackback-form upload=model}}    
<div class="container sani-trixie">
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <ul class="upload-action-buttons list-unstyled"> 
            <li>
                Play
            </li>
            <li>                
                <a href="#" {{action "doDownloadPopup" item}}>
                <span class="sprite3 download-sprite"> </span>
                </a>
            </li>
            <li>
                Share
            </li>
            <li>
                <a href="{{model.file_page_url}}">'See at ccM'</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>{{model.upload_name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>{{link-to model.user_real_name 'users' model.user_name}}</p>
                {{#if model.featuring}}
                    Featuring: {{model.featuring}}
                {{/if}}
            </div>
            <div class="col-md-4">
                <a href="{{model.license_url}}"><img class="download-license" src="{{model.license_logo_url}}" /></a><br />
                <button>{{t 'upload.moreBy' artist=model.user_real_name}}</button><br />
                <button>{{t 'upload.moreLikeThis'}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <ul class="tag-list">
                    {{#each model.userTags as |tag|}}             
                        <li class="tag-container">
                            <button type="button" class="tag-button" {{action "search" tag}}>{{tag}}</button>
                        </li>
                    {{/each}}
                </ul>
            </div>    
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-1">
{{#if model.poolProjects}}
        <div class="add-button-container">
            <a href="#" {{action 'doTrackbackForm'}} class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> {{t 'upload.addTrackback'}}</a>
        </div>
        <h3>{{t 'upload.trackbacks'}}</h3>
        <ul class="list-group remix-list">
        {{#each model.poolProjects as |poolItem|}}
            <li class="list-group-item">{{#if (is-embeddable poolItem.pool_item_extra.embed)}}
                    <a href="#" class="video-button" {{action 'doTrackbackPopup' poolItem}}>
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                    </a>
                {{else}}
                    <strong>{{poolItem.pool_item_extra.ttype}}</strong>
                {{/if}}
            {{poolItem.upload_name}} <small>{{poolItem.user_real_name}}</small></li>
        {{/each}}
        </ul>
{{else}}
&nbsp;        
{{/if}}
    </div>
    <div class="col-md-5">
{{#if model.remixes}}
        <h3>{{t 'upload.remixes'}}</h3>
        <ul class="list-group remix-list">
        {{#each model.remixes as |remix|}}
            <li class="list-group-item"><a href="{{remix.file_page_url}}">{{remix.upload_name}}</a> <small>{{remix.user_real_name}}</small></li>
        {{/each}}
        </ul>
{{else}}
&nbsp;        
{{/if}}
    </div>
</div>

</div>
{{outlet}}
{{audio-player}}