<div class="page-header">
    <h1 class="center-text"><img class="img-circle" src="{{model.profile.avatarUrl}}" /> {{model.profile.name}}</h1>
    <div class="center-text">
        <a class="btn btn-info" href="{{model.profile.page}}"><i class="fa fa-external-link"></i> @ccMixter</a>
        {{#if model.profile.homepage}}
            <a class="btn btn-info" href="{{model.profile.homepage}}"><i class="fa fa-external-link"></i> {{t 'user.homepage'}}</a>
        {{/if}}
    </div>
</div>
{{partial "playlist"}}
